.payment-form {
  margin-left: 0px;
}

.activeDrop{
  width: 30%;

}

.activeDrop2{
  width: 50%
}

.payment-container{
  
  padding: 2px;
}

.borde{
  border-radius: 10px;
}

.textformat {
  letter-spacing: normal;
  font-size: 20px;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}

