.payment-form {
  margin-left: 0px;
}

.activeDrop{
  width: 30%;

}

.activeDrop2{
  width: 50%
}

.activeDrop3{
  width: 50%;
  margin-bottom: 10px;
}

.payment-container{
  
  padding: 2px;
}

.borde{
  border-radius: 10px;
}

.textformat {
  letter-spacing: normal;
  font-size: 20px;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}

.RB-service-card {
  margin-bottom: 5px;
}

